stages:
  - test

pylint:
  image: python:2.7-alpine
  stage: test
  tags:
    - docker
  script:
    - apk add -U git
    - pip install pylint
    - pylint --rcfile=.pylintrc $(git ls-tree --name-only --full-tree -r HEAD | grep '\.py' | sort | tr '\n' ' ') || RETCODE=1

unittest:
  image: python:2.7-alpine
  stage: test
  script:
    - apk add -U bash gcc gnupg linux-headers musl-dev npm py2-virtualenv
    - mkdir /etc/upgrade
    - touch /etc/builddate
    - ./tellstick.sh setup
    - ./tellstick.sh install events
    - ./tellstick.sh install scheduler
    - ./tellstick.sh install upgrade
    - ./tellstick.sh test
