<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/" py:strip="">
	<xi:include href="design.html" />
	<head>
		<title>Telldus Plugins</title>
		<script src="/telldus/js/telldus.js"></script>
	</head>
	<body>
		<h3>You are about to install a plugin from an unknown developer</h3>
		<p>Do you trust the developer ${name}?</p>
		<p>Please make sure this fingerprint is the same as printed where you downloaded the plugin</p>
		<p><pre>${fingerprint}</pre></p>
		<a href="?key=${keyid}">Yes</a> <a href="?discard">No</a>
	</body>
</html>
