<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/" py:strip="">
	<xi:include href="design.html" />
	<head>
		<title>Telldus Plugins</title>
		<script src="/telldus/js/telldus.js"></script>
	</head>
	<body>
		${msg}
		<form method="post" enctype="multipart/form-data">
			<input type="file" name="pluginfile" />
			<input type="submit" value="Upload" />
		</form>
		<h3>Loaded plugins:</h3>
		<ul>
			<li py:for="plugin in loader.plugins">Plugin ${plugin.name} <a href="remove?pluginname=${plugin.name}">[DEL]</a> Loaded: ${plugin.loaded}</li>
		</ul>
		<h3>Trusted developers:</h3>
		<ul>
			<li py:for="key in loader.keys">${key.uids} <a href="remove?key=${key.keyid}&amp;fingerprint=${key.fingerprint}">[DEL]</a></li>
		</ul>
	</body>
</html>
