.buttonWhiteBorder {
  border: 2px solid #fff;
  border-radius: 18px;
  color: #fff;
  line-height: 32px;
  font-weight: normal;
}
.buttonWhiteBorder:hover {
  background: #fff;
  color: inherit;
}
.dialogTitleIcon {
  font-size: 2.5rem;
}
button.buttonAccept:disabled {
  background: none !important;
}
button.buttonRounded {
  border-radius: 18px;
}
button.buttonAccept {
  background-color: #9ccc65;
}
button.buttonAccept:hover {
  background-color: #88b654;
}
button.buttonDecline {
  background-color: #ef5350;
}
button.buttonDecline:hover {
  background-color: #d63e3b;
}
button.buttonWhite {
  background-color: #fff;
  color: inherit;
}
button.buttonWhite:hover {
  background-color: rgba(255,255,255, 0.60);
}

.searchField {
  border: none;
  height: 56px;
  min-width: 56px;
  border-radius: 28px;
  background: rgba(158,158,158, 0.20);
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  padding: 0 12px 0 0;
}
.searchField .mdl-button {
  top: 12px;
  left: 12px;
}
.searchField .mdl-button:hover {
  background: none;
}

.searchField .mdl-textfield__expandable-holder {
  margin-left: 40px;
  padding: 16px 0 0 0;
}
.searchField .mdl-textfield__input {
  border-bottom: none;
}
.searchField .mdl-textfield__label {
  border-bottom: none;
  font-size: 1px;
}
.searchField .mdl-textfield__label::after {
  background-color: transparent;
}

.iconContainer {
  color: #fff;
  background-color: #e26901;
  padding: 5px;
  border-radius: 2px;
  margin-right: 7px;
  outline: none;
}

.nodeName {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 16px;
}
