<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" py:strip="">
	<head>
		<title>Philips HUE</title>
		<meta py:if="state == 0 or state == 1" http-equiv="refresh" content="5" />
	</head>

	<body>
		<div id="content">
			<div py:if="state == 0">
				Searching for bridges, please wait...
			</div>
			<div py:if="state == 1">
				<img src="/hue/img/smartbridge.jpg" />
			</div>
			<div py:if="state == 2">
				<p>Everything is fine and dandy</p>
				<p><a href="?reset">Reset connection to Philips HUE</a></p>
			</div>
		</div>
	</body>
</html>
